@{
    ViewBag.Title = "About";
}
<style>
    .one {
        border-bottom: 1px solid white;
    }

    img {
        width: 280px;
        height: 200px;
    }
</style>
<div>
    <div class="one">
        <div class="row">

            <div class="col-md-6">
                <h1 style="color:White">About Us</h1>
            </div>
            <div class="col-md-6">
                <p style="font-size:14px;">
                    Principal business owner Parminder Malhotras has previous experience in IT support Center as Corporate sales (TELUS) and was originally a Sheridan student.
                    The business was originally a restaurant out of Halton region that served fine Indian cuisine but it has been decided by the client to transition the business into a high end catering business featuring meals prepared to a large degree in client homes. The idea would be to supply the food, the linens, and some of the cooking hardware to create a very high class dinner party atmosphere. Technically the business doesn’t exist but the client has operated a business in a similar vein and they are simply transforming the business into something else. Currently it is starting out as a small scale catering business (Family run). Malhotras Catering as it has been called  is divided into 2 parallel businesses of “Catering” and “Producing Authenticated Sauces”.

                </p>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="one">
        <div class="row">

            <div class="col-md-6">
                <img src="~/Content/images/MLogotype.jpg" />
            </div>
            <div class="col-md-6">
                <p style="font-size:14px;">
                    Principal business owner Parminder Malhotras has previous experience in IT support Center as Corporate sales (TELUS) and was originally a Sheridan student.
                    The business was originally a restaurant out of Halton region that served fine Indian cuisine but it has been decided by the client to transition the business into a high end catering business featuring meals prepared to a large degree in client homes. The idea would be to supply the food, the linens, and some of the cooking hardware to create a very high class dinner party atmosphere. Technically the business doesn’t exist but the client has operated a business in a similar vein and they are simply transforming the business into something else. Currently it is starting out as a small scale catering business (Family run). Malhotras Catering as it has been called  is divided into 2 parallel businesses of “Catering” and “Producing Authenticated Sauces”.

                </p>
            </div>
        </div>

    </div>
    <br />
    <br />
    <div>
        <div class="row">

            <div class="col-md-6">
                <img src="~/Content/images/MLogo.jpg" />
            </div>
            <div class="col-md-6">
                <p style="font-size:14px;">
                    Our team created the logo for the client

                </p>
            </div>
        </div>

    </div>
</div>

