@{
    ViewBag.Title = "Contact";
}
<div id="visit">
    <h2><font color="White">Wanna visit us?</font></h2>
    <p style="font-size:15px;color:orange;">
        <b>
            Malhotras Catering<br />
            155 Square One Drive<br />
            Mississauga ON<br />
            L5M 2G6
        </b>
    </p>
    <br />
    <h2><font color="White">Wanna call us?</font></h2>
    <p style="font-size:15px;color:orange;">
        <b>
            905-123-2345
        </b>
    </p>
    <br />
    <h2><font color="White">Wanna send an email to us?</font></h2>
    <p style="font-size:15px;color:orange;">
        <b>
            parmalh@gmail.com
        </b>
    </p>
</div>

