@{
    ViewBag.Title = "Order";
}

<div>
    <style>
        .one {
            border-top: 1px solid white;
        }

        img {
            width: 280px;
            height: 200px;
        }

        .line {
            padding-left: 10px;
            padding-top: 30px;
        }
    </style>

    <div>
        <div class=" row">
            <div class=" col-md-6">
             
                <button type="button" onclick='window.location.href= "@Url.Action("Catering","Home")";'>Catering</button><br />
            </div>
            <div class=" col-md-6">
                <button type="button" onclick='window.location.href = "@Url.Action("Index","Order")";'>Order</button><br />
            </div>




        </div>
    </div>
    <br /><br />









