<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>~\MalhotraProject</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Malhotra.com</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Phoenix_DatabaseEntities1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Phoenix_Project.Phoenix_DatabaseEntities1, Phoenix_Project" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Phoenix_DatabaseConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=CS35;Initial Catalog=Phoenix_Database;Integrated Security=True" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=GURVINDER-PC\SQLEXPRESS;Initial Catalog=Phoenix_Database;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Phoenix_DatabaseConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=GURVINDER-PC\SQLEXPRESS;Initial Catalog=Phoenix_Database;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Phoenix_DatabaseEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=GURVINDER-PC\SQLEXPRESS;Initial Catalog=Phoenix_Database;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Gurvinder\Documents\Phoenix_Database1.mdf;Integrated Security=True;Connect Timeout=30;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Phoenix_DatabaseEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=C:\Users\Gurvinder\Documents\Phoenix_Database1.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Phoenix_DatabaseConnectionString-Web.config Connection String">
      <ParameterValue>data source=CS35;initial catalog=Phoenix_Database;integrated security=True;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Phoenix_DatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string="data source=GURVINDER-PC\SQLEXPRESS;initial catalog=Phoenix_Database;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Phoenix_DatabaseEntities1-Web.config Connection String" />
  </ItemGroup>
</Project>