@model Phoenix_Project.ShoppingCart

@{
    ViewBag.Title = "AddConfirmed";
}




   
<h2>Item is added to shopping cart</h2>
 <br />
<br/>
        
       


<div>
    @Html.ActionLink("Back to Order page", "Index","Order")
</div>
